@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    font-family: Source Sans Pro;
}

h1 {
    font-family: Abril Fatface;
    font-weight: 400;
    text-align: center;
    padding: auto;
}

h2 h4 {
    font-family: Robot Slab;
    font-weight: 400;
}

.newspaper-container {
    background-color: #fff;
    width: 700px;
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
}

nav {
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
    margin: auto;
}

nav, ul, li {
    display: inline-block;
    text-align: center;
}

li, a {
    color: #555;
    text-decoration: none;
}

li, a:hover {
    color: red;
}

h5 {
    color: red
}

.more-articles {
    border-top: 2px solid #555;
    text-align: center;
}

section {
    width: 45%;
    padding: 0 10px; 
    display: inline-block;
    text-align: left;
}

